<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.springboot_01_ssm_startquick.mapper.FollowMapper">
    <insert id="insertFollow" parameterType="com.itheima.springboot_01_ssm_startquick.entity.Follow">
        INSERT INTO
            `follow`(imageurl,techexplain,techname,flag,tid)
        VALUES (#{imageURL},#{techExplain},#{techName},#{flag},#{tid})
    </insert>

    <update id="updateFollow" parameterType="com.itheima.springboot_01_ssm_startquick.entity.Follow">
        UPDATE follow
        SET flag = #{flag}
        WHERE tid = #{tid}
    </update>

    <select id="getFollowFlagTrue" parameterType="java.lang.String" resultType="com.itheima.springboot_01_ssm_startquick.entity.Follow">
        SELECT
            id,
            imageurl,
            techexplain,
            techname,
            flag,
            tid
        FROM follow
        WHERE flag = #{flag}
    </select>

    <select id="totalFollowFlag" resultType="long">
        SELECT COUNT(id) FROM follow
        WHERE flag = 'true'
    </select>
</mapper>