<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.springboot_01_ssm_startquick.mapper.UserMapper">
        <select id="getByPhone" resultType="com.itheima.springboot_01_ssm_startquick.entity.User">
        SELECT
        id,
        nickname,
        openid,
        imageurl,
        sessionkey,
        token,
        username,
        phone,
        password
        FROM `user`
        WHERE phone = #{phone}
        </select>

        <insert id="insert" parameterType="com.itheima.springboot_01_ssm_startquick.entity.User">
        INSERT INTO `user`(nickname,imageurl,username,phone,password)
        VALUES(#{nickName},#{imageURL},#{username},#{phone},#{password})
        </insert>

        <update id="updateUser"  parameterType="com.itheima.springboot_01_ssm_startquick.entity.User">
                UPDATE `user`
                SET sessionkey = #{sessionKey},openid = #{openId}, token = #{token} WHERE phone = #{phone}
        </update>

        <select id="getUserByToken" resultType="com.itheima.springboot_01_ssm_startquick.entity.User" parameterType="string">
                SELECT
                        id,
                        nickname,
                        openid,
                        imageurl,
                        sessionkey,
                        token,
                        username,
                        phone,
                        password
                FROM `user`
                where token = #{token}
        </select>
</mapper>